<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animate</title>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-ui-mask/src/mask.js"></script>
    <style type="text/css">

    </style>
</head>

<body>
    <div ng-controller="DemoController">
        <input name="ccnum" ui-mask="9999999999999999" ng-model="user.cc" placeholder="Credit card
number" />
    </div>
    <script type="text/javascript">
        angular.module('myApp',['ui.mask']).controller('DemoController',function($scope){

        })
    </script>
</body>

</html>