#main {
    -webkit-column-width:202px;
    -moz-column-width:202px;
    -o-column-width:202px; 
    -ms-column-width:202px;
    /* -webkit-column-width: 5;
    -moz-column-width: 5;
    -o-column-width: 5;
    -ms-column-width:5;   */
}
.box{
    padding: 10px 0 0 15px;
}

.pic{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 0 5px #ccc;
}
.pic img{
    display: block;
    width:165px;
    height: auto;
}