<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../lib/angular.min.js"></script>
    <script src="../js/11.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/foundation.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/test.css" />
</head>

<body>
    <input type="text" ng-model="someProperty" placeholder="TypetoEnable">
    <button ng-model="button" ng-disabled="!someProperty">AButton</button>
    <textarea ng-disabled="isDisabled">Wait5seconds</textarea>
    <hr /> Type here to make sibling readonly:
    <input type="text" ng-model="someProperty" /><br />
    <input type="text" ng-readonly="someProperty" value="Some text here" />
    <hr />
    <label>someProperty={{someProperty}}</label>
    <input type="checkbox" ng-checked="someProperty" ng-init="someProperty=true" ng-model="someProperty" />
    <hr />
    <!--相反的例子-->
    <label>someProperty={{anotherProperty}}}</label>
    <input type="checkbox" ng-checked="anotherProperty" ng-init="anotherProperty=false" ng-model="anotherProperty" />

    <label>Select Two Fish:</label>
    <input type="checkbox" ng-model="isTwoFish" /><br />
    <select>
        <option>One Fish</option>
        <option ng-selected="isTwoFish">Two Fish</option>
    </select>
    <hr />
    <!--当href包含一个{{expression}}时总是使用ng-href-->
    <a ng-href="{{myHref}}">I'm feeling lucky,when i load</a>
    <!--用户单机之前，href不会加载-->
    <a href="{{myHref}}">I'm feeling 404</a>
    <hr />
    <h1></h1>
    <img src="{{imgSrc}}">
    <h1>Rightway</h1>
    <img ng-src="{{imgSrc}}" /> {{appProperty}}
    <button ng-click="someAction()">button</button>

    <!--利用控制器修改下47-48行的代码，把数据和操作放到子作用域中-->
    <hr />
    <div ng-controller="SomeController">
        {{someModel.someProperty}}
        <button ng-click="someAction()">Communicate</button>
    </div>
    <div ng-controller="ParentController">
        {{someBareValue}}
        <button ng-click="someAction()">Communicate to child</button>
        <div ng-controller="ChildController">
            {{someBareValue}}
            <button ng-click="childAction()">Communicate to Parent</button>
        </div>
    </div>

    <!--可以看下这个例子的实际效果，首先点击child button,然后点击parentbutton。这个例子充分说明了子控制器是复制而非引用someBareValue.-->
    <hr />
    <div ng-controller="anyParentController">
        {{someModel.someValue}}
        <button ng-click="someAction()">Communicate to child</button>
        <div ng-controller="anyChildController">
            {{someModel.someValue}}
            <button ng-click="childAction()">Communicate to Parent</button>
        </div>
    </div>
    <hr />
    <!--<div ng-include="'/myTemplateName.html'" ng-controller="MyController" ng-init="name='World'">
        Hello {{name}}
    </div> -->
    <hr />
    <!--在下面的例子中，当person.name是Ari时，文本域下面的div会显示出来，并且这个人会获得胜利-->
    <input type="text" ng-model="person.name" />
    <div ng-switch on="person.name">
        <p ng-switch-default>And the winner is</p>
        <h1 ng-switch-when="Ari">{{person.name}}</h1>
    </div>

    <hr />
    <div ng-if="2+2===5">
        Won't see this DOM node,not even in the source code.
    </div>
    <div ng-if="2+2===4">
        Hi,I do exit.
    </div>
    <hr />
    <ul ng-controller="peopleController">
        <li ng-repeat="person in people" ng-class="{even:!$even,odd:!$odd}">
            {{person.name}} lives in {{person.city}}
        </li>
    </ul>
    <hr />
    <div ng-init="greeting='hello';person='World'">
        {{greeting}}{{person}}
    </div>
    <hr />
    <div ng-init="greeting='HelloWorld'">
        <p ng-bind="greeting"></p>
    </div>

    <hr />
    <div ng-show="2 + 2 == 5">
        2 + 2 isn't 5, don't show
    </div>
    <div ng-show="2 + 2 == 4">
        2 + 2 is 4, do show
    </div>
    <div ng-hide="2 + 2 == 5">
        2 + 2 isn't 5, don't hide
    </div>
    <div ng-hide="2 + 2 == 4">
        2 + 2 is 4, do hide
    </div>
    <hr />
    <div ng-controller="EquationController">
        <input type="text" ng-model="equation.x" ng-change="change()" />
        <code>{{ equation.output }}</code>
    </div>

    <hr />
    <form name="signup_form" ng-controller="FormController" ng-submit="submitForm()" novalidate>
        <div ng-repeat="field in fields" ng-form="signup_form_input">
            <input type="text" name="dynamic_input" ng-required="field.isRequired" ng-model="field.name" placeholder="{{field.placeholder}}"
            />
            <div ng-show="signup_form_input.dynamic_input.$dirty&&signup_form_input.dynamic_input.$invalid">
                <span class="error" ng-show="signup_form_input.dynamic_input.$error.required">The field is required.</span>
            </div>
        </div>
        <button type="submit" ng-disabled="signup_form.$invalid">Submit All</button>
    </form>
    <hr/>
    <div ng-controller="CountController">
        <button ng-click="count=count+1" ng-init="count=0">Increment</button> count:{{count}}
        <button ng-click="decrement()">decrement</button>
    </div>
    <div ng-controller="CityController">
        <select ng-model="city" ng-options="city.name for city in cities">
            <option value="">Choose City</option>
        </select> 
        Best City: {{ city.name }}
    </div>
    <hr/>
    <form ng-submit="submit()" ng-controller="submitController">
        Enter text and hit enter:
        <input type="text" ng-model="person.name" name="person.name"/>
        <input type="submit" ng-model="person.name" value="Submit"/>
        <code>people={{people}}</code>
        <ul ng-repeat="(index,object) in people">
            <li>{{object.name}}</li>
        </ul>
    </form>
    <hr/>
    <div ng-controller="LotteryController">
        <div ng-class="{red:x>5}" ng-if="x>5">
            You won!
        </div>
        <button ng-click="x=generateNumber()" ng-init="x = 0">>
            Draw Number
        </button>
        <p>Number is:{{x}}</p>
    </div>
</body>

</html>
