<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../lib/angular.min.js"></script>
    <script src="../js/19.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/foundation.min.css" />
</head>

<body>
    <div ng-controller="ServiceController">
        <label for="username">
            Type in a GitHub username
        </label>
        <input type="text" ng-model="username" placeholder="Enter a GitHub username" />
        <ul>
            <li ng-repeat="event in events">
                <!--
                    event.actor and event.repo are returned
                    by the github API. To view the raw
                    API, uncomment the next line:
                 -->
                <!-- {{ event | json }} -->
                {{event.actor.login}}{{event.repo.name}}
            </li>
        </ul>
    </div>
</body>

</html>
